<div class="pe-4">
  <div class="">
    <a href="/movie/{{movie_id}}">
      <img class="poster post-sm" src="https://image.tmdb.org/t/p/w200/{{poster_path}}" alt="">
    </a>
  </div>
  <div class="pt-2">
    <h2>
      <a class="link fs-6 fw-bold text-black text-decoration-none" href="/movie/{{movie_id}}">{{title}}</a>
    </h2>
  </div>
</div>