<section class="mt-3 container">
<div class="page-header">
    <h1>Dashboard</h1>
    <h2>Hi, {{user.username}}!</h2>
</div>
{{#if user.isAdmin}}
<section class="admin-button-form">
    <button class="btn btn-primary btn-popular" id="popular">Load popular</button>
    <button class="btn btn-primary btn-nowplaying" id="now_playing">Load now playing</button>
    <button class="btn btn-primary btn-toprated" id="top_rated">Load top rated</button>
</section>
{{/if}}

<section class="mt-5">
    <h2>Your Reviews</h2>
        <div class="mb-3">
        {{#if reviews.length}}
        {{> reviews reviews}}
        {{else}}
        <h2>No reviews have been left on your account...yet!</h2>
        {{/if}}
        </div>
</section>
</section>

{{#if user.isAdmin}}
<script src="/javascript/admin-buttons.js"></script>
{{/if}}