<section class="container-fluid w-100">
	<div class="column">
		<div class="row mt-5">
			<h2>Popular</h2>
		</div>
		<div class="row media-wrapper overflow-auto">
			<div class="flex content">
				{{#each popular as |popular|}}
				{{> movie-info popular}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="column">
		<div class="row mt-5">
			<h2>Now playing</h2>
		</div>
		<div class="row media-wrapper overflow-auto">
			<div class="flex content">
				{{#each nowPlaying as |now-playing|}}
				{{> movie-info now-playing}}
				{{/each}}
			</div>
		</div>
	</div>
	<div class="column">
		<div class="row mt-5">
			<h2>Top rated</h2>
		</div>
		<div class="row media-wrapper overflow-auto">
			<div class="flex content">
				{{#each topRated as |top-rated|}}
				{{> movie-info top-rated}}
				{{/each}}
			</div>
		</div>
	</div>
	{{!-- <div class="column">
		<div class="row mt-5">
			<h2>Latest added</h2>
		</div>
		<div class="row media-wrapper overflow-auto">
			<div class="flex content">
				{{#each latestAdded as |latest-added|}}
				{{> movie-info latest-added}}
				{{/each}}
			</div>
		</div>
	</div> --}}
</section>